<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<section layout:fragment="conteudo">

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de convidados</h1>
		</div>
		<div class="panel-body">

			<form class="form-inline" method="POST" th:action="@{/convidados}"
				th:object="${convidado}" style="margin: 20px 0">
				<div class="form-group">
					<input type="hidden" class="form-control" placeholder="Id"
						th:field="*{id}" /> <input type="text" class="form-control"
						placeholder="Nome" th:field="*{nome}" /> <input type="text"
						class="form-control" placeholder="Qtde" th:field="*{qtde}" />
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Acompanhantes</th>
						<th colspan="2">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c:${convidados}">
						<td th:text="${c.id}">1</td>
						<td th:text="${c.nome}">João</td>
						<td th:text="${c.qtde}">3</td>
						<td><a th:href="@{/convidados/alterar/} + ${c.id}"
							class="glyphicon glyphicon-pencil"></a></td>
						<td><a th:href="@{/convidados/excluir/} + ${c.id}"
							class="glyphicon glyphicon-trash"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>
